<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soccer.web.channel.board.dao.ChannelBoardMapper">
	
	<resultMap id="channel" type="com.soccer.web.channel.vo.ChannelVO">
		<result property="channelIdx" column="channel_idx" />
		<result property="userIdx" column="user_idx" />
		<result property="channelName" column="channel_name" />
		<result property="channelImage" column="channel_image" />
		<result property="regionIdx" column="region_idx" />
		<result property="channelMax" column="channel_max" />
	</resultMap>
	
	<resultMap id="col" type="com.soccer.web.channel.play.vo.ViewResultColumnVO">
		<result property="viewResultColumnIdx" column="viewresultcolumn_idx" />
		<result property="channelIdx" column="channel_idx" />
		<result property="viewResultColumnTackle" column="viewresultcolumn_tackle" />
		<result property="viewResultColumnCross" column="viewresultcolumn_cross" />
		<result property="viewResultColumnCornerKick" column="viewresultcolumn_cornerKick" />
		<result property="viewResultColumnFreeKick" column="viewresultcolumn_freekick" />
		<result property="viewResultColumnShooting" column="viewresultcolumn_shooting" />
		<result property="viewResultColumnAssist" column="viewresultcolumn_assist" />
		<result property="viewResultColumnPass" column="viewresultcolumn_pass" />
		<result property="viewResultColumnContention" column="viewresultcolumn_contention" />
	</resultMap>
	
	<select id="channelList" resultMap="channel">
		SELECT * FROM channel
		<if test='searchWord != null or searchWord != ""'>
			<where>
				channel_name LIKE CONCAT('%', #{searchWord}, '%')
			</where>
		</if>
		ORDER BY channel_idx DESC
	</select>
	
	<select id="channelMemeberMax" resultType="integer">
		SELECT channel_max FROM channel
		WHERE channel_idx = #{channelIdx}
	</select>
	
	<insert id="channelInsert" parameterType="com.soccer.web.channel.vo.ChannelVO">
		<selectKey resultType="int" keyProperty="channelIdx" order="AFTER">
			SELECT MAX(channel_idx) FROM channel;
		</selectKey>
		INSERT INTO channel
		VALUES(
				default,
				#{userIdx},
				#{channelName},
				#{channelImage},
				#{regionIdx},
				#{channelMax},
				)
	</insert>
	
	<update id="channelUpdate" parameterType="com.soccer.web.channel.vo.ChannelVO">
		UPDATE channel
			SET channel_name = #{channelName},
				channel_image = #{channelImage},
				region_idx = #{regionIdx},
				channel_max = #{channelMax}
		WHERE channel_idx = #{channelIdx}
	</update>
	
	<insert id="insertViewResultColumn" parameterType="com.soccer.web.channel.vo.ChannelVO">
		INSERT INTO viewresultcolumn
		VALUES (
				default,
				#{channelIdx},
				'Y',
				'Y',
				'Y',
				'Y',
				'Y',
				'Y',
				'Y',
				'Y'
		)
	</insert>
	
	<select id="channelSelect" parameterType="integer" resultMap="channel">
		SELECT * FROM channel
		WHERE channel_idx = #{channelIdx}
	</select>
	
	<select id="selectViewResultColumn" parameterType="int" resultMap="col">
		SELECT * FROM viewresultcolumn
		WHERE channel_idx = #{channelIdx}
	</select>
	
	<update id="viewResultColumnUpdate" parameterType="com.soccer.web.channel.play.vo.ViewResultColumnVO">
		UPDATE viewResultColumnUpdate
			SET viewresultcolumn_tackle = #{viewResultColumnTackle},
				viewresultcolumn_cross = #{viewResultColumnCross},		
				viewresultcolumn_cornerKick = #{viewResultColumnCornerKick},
				viewresultcolumn_freekick = #{viewResultColumnFreeKick},
				viewresultcolumn_shooting = #{viewResultColumnShooting},
				viewresultcolumn_assist = #{viewResultColumnAssist},
				viewresultcolumn_pass = #{viewResultColumnPass},
				viewresultcolumn_contention = #{viewResultColumnContention}
		WHERE channel_idx = #{channelIdx}				
	</update>
</mapper>