<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soccer.web.channel.play.dao.TeamPlayerMapper">
	
	<!-- teamPlayer resultMap -->
	<resultMap type="com.soccer.web.channel.play.vo.TeamPlayerVO" id="teamPlayerVO">
		<result property="teamPlayerIdx" column="team_player_idx"/>
		<result property="userIdx" column="user_idx"/>
		<result property="teamIdx" column="team_idx"/>
		<result property="channelPlayIdx" column="channel_play_idx"/>
		<result property="teamPlayerPosition" column="team_player_position"/>
		<result property="teamPlayerFormationNumber" column="team_player_formation_number"/>
		<result property="teamPlayerName" column="team_player_name"/>
		<result property="memberImage" column="member_image"/>
	</resultMap>
	
	<!-- playresult resultMap -->
	<resultMap type="com.soccer.web.channel.play.vo.PlayresultVO" id="playresultVO">
		<result property="playresultIdx" column="playresult_idx"/>
		<result property="channelPlayIdx" column="channel_play_idx"/>
		<result property="teamIdx" column="team_idx"/>
		<result property="teamPlayerIdx" column="team_player_idx"/>
		<result property="playresultTotaltackle" column="playresult_totaltackle"/>
		<result property="playresultSuccesstackle" column="playresult_successtackle"/>
		<result property="playresultTotalcross" column="playresult_totalcross"/>
		<result property="playresultSuccesscross" column="playresult_successcross"/>
		<result property="playresultTotalcornerkick" column="playresult_totalcornerkick"/>
		<result property="playresultSuccesscornerkick" column="playresult_successcornerkick"/>
		<result property="playresultTotalfreekick" column="playresult_totalfreekick"/>
		<result property="playresultSuccessfreekick" column="playresult_successfreekick"/>
		<result property="playresultTotalshooting" column="playresult_totalshooting"/>
		<result property="playresultSuccessshooting" column="playresult_successshooting"/>
		<result property="playresultTotalassist" column="playresult_totalassist"/>
		<result property="playresultSuccessassist" column="playresult_successassist"/>
		<result property="playresultTotalpass" column="playresult_totalpass"/>
		<result property="playresultSuccesspass" column="playresult_successpass"/>
		<result property="playresultTotalcontention" column="playresult_totalcontention"/>
		<result property="playresultSuccesscontention" column="playresult_successcontention"/>
		<result property="teamPlayerName" column="team_player_name"/>
		<result property="teamType" column="team_type"/>
		
		<result property="teamName" column="team_name"/>
	</resultMap>
	
	<resultMap type="com.soccer.web.channel.play.vo.TeamVO" id="teamVO">
		<result property="teamIdx" column="team_idx"/>
		<result property="channelPlayIdx" column="channel_play_idx"/>
		<result property="channelIdx" column="channel_idx"/>
		<result property="teamName" column="team_name"/>
		<result property="teamType" column="team_type"/>
	</resultMap>

		
	

	
	<!-- 경기에 선수 리스트를 가져오는 쿼리문 -->
	<select id="selectTeamPlayerList" parameterType="int" resultMap="teamPlayerVO">
		SELECT 
			team_player.team_player_idx,
			team_player.user_idx,
			team_player.team_idx,
			team_player.channel_play_idx,
			team_player.team_player_position,
			team_player.team_player_formation_number,
			team_player.team_player_name,
			member.member_image
		FROM team_player
		INNER JOIN member
			ON team_player.user_idx = member.user_idx
		WHERE team_player.channel_play_idx = #{channelPlayIdx}
	</select>
	
	<select id="selectHomeAwayTeamPlayerList" parameterType="java.util.HashMap" resultMap="teamPlayerVO">
		SELECT * FROM team_player 
		INNER JOIN member
			ON member.user_idx = team_player.user_idx
		WHERE channel_play_idx = CONVERT(#{channelPlayIdx}, UNSIGNED INTEGER)
			AND team_idx IN 
							(
									SELECT team_idx 
									FROM team 
									WHERE channel_play_idx = CONVERT(#{channelPlayIdx}, UNSIGNED INTEGER)
										AND team_type = #{teamType}
							)
		ORDER BY team_player_formation_number
	</select>
	
	<select id="selectHomeAwayTeamPlayerNotLinkedList" parameterType="java.util.HashMap" resultMap="teamPlayerVO">
		SELECT * FROM team_player
		WHERE channel_play_idx = CONVERT(#{channelPlayIdx}, UNSIGNED INTEGER)
			AND team_idx IN 
							(
									SELECT team_idx 
									FROM team 
									WHERE channel_play_idx = CONVERT(#{channelPlayIdx}, UNSIGNED INTEGER)
										AND team_type = #{teamType}
							)
		ORDER BY team_player_formation_number
	</select>
	
	<!-- 경기에 선수 리스트에 해당하는 playresult를 가져오는 쿼리문 -->
	<select id="selectPlayerResultList" parameterType="int" resultMap="playresultVO"> 
	    SELECT 
	    	playresult.playresult_idx,
	    	playresult.channel_play_idx,
	    	playresult.team_idx,
	    	playresult.team_player_idx,
	    	playresult.playresult_totaltackle,
	    	playresult.playresult_successtackle,
	    	playresult.playresult_totalcross,
	    	playresult.playresult_successcross,
	    	playresult.playresult_totalcornerkick,
	    	playresult.playresult_successcornerkick,
	    	playresult.playresult_totalfreekick,
	    	playresult.playresult_successfreekick,
	    	playresult.playresult_totalshooting,
	    	playresult.playresult_successshooting,
	    	playresult.playresult_totalassist,
	    	playresult.playresult_successassist,
	    	playresult.playresult_totalpass,
	    	playresult.playresult_successpass,
	    	playresult.playresult_totalcontention,
	    	playresult.playresult_successcontention,
	    	team_player.team_player_name
	    FROM playresult 
	    INNER JOIN team_player 
	    	ON playresult.team_player_idx = team_player.team_player_idx 
	    WHERE playresult.channel_play_idx = #{channelPlayIdx}
	</select>
	
	
	<!-- 경기에 선수를 추가할 때 사용되는 쿼리문 (play_idx, channel_play_idx 와 연결) -->
	<!-- 채널의 전체 멤버에서 하나를 선택  -->
	<insert id="insertTeamPlayer" parameterType="com.soccer.web.channel.play.vo.TeamPlayerVO" useGeneratedKeys="true" keyProperty="teamPlayerIdx">
		INSERT INTO team_player 
		VALUES 
				(
					default, 
					CONVERT(#{userIdx}, UNSIGNED INTEGER), <!-- userIdx 정보 받아와야함 -->
					CONVERT(#{teamIdx}, UNSIGNED INTEGER), <!-- teamIdx 정보 받아와야함 -->
					CONVERT(#{channelPlayIdx}, UNSIGNED INTEGER), 
					<!-- #{teamPlayerPosition} -->
					null, 
					null, 
					#{teamPlayerName}
				)
	</insert> 
	
	<!-- 팀을 추가하는 쿼리문 -->
	<insert id="insertTeam" parameterType="com.soccer.web.channel.play.vo.TeamVO" useGeneratedKeys="true" keyProperty="teamIdx">
		INSERT INTO team
		VALUES 
				(
					default,
					CONVERT(#{channelPlayIdx}, UNSIGNED INTEGER), <!-- teamIdx 정보 받아와야함 -->
					CONVERT(#{channelIdx}, UNSIGNED INTEGER), 
					<!-- #{teamPlayerPosition} -->
					#{teamName}, 
					#{teamType} 
					
				)
	</insert> 
	
	<!-- 경기에 선수를 추가할 때 playresult를 추가하는 쿼리문 -->
	<insert id="insertPlayresult" parameterType="java.util.HashMap" useGeneratedKeys="true" keyProperty="playResultIdx">
		INSERT INTO playresult 
		VALUES 
				(
					default,
					#{channelPlayIdx},
					#{teamIdx}, 
					#{teamPlayerIdx},
					default,
					default,
					default,
					default,
					default,
					default,
					default,
					default,
					default,
					default,
					default,
					default,
					default,
					default,
					default,
					default
				)
	</insert>
	
	<!-- 경기에 선수의 포지션을 변경할 때 사용되는 쿼리문 -->
	<update id="updateTeamPlayerPosition" parameterType="com.soccer.web.channel.play.vo.TeamPlayerVO">
		UPDATE team_player 
		SET 
			team_player_position = #{teamPlayerPosition}
		WHERE team_player_idx = #{teamPlayerIdx}
	</update>
	
	<!-- 경기에 선수를 삭제할 때 사용되는 쿼리문 -->
	<delete id="deleteTeamPlayer" parameterType="int">
		DELETE FROM team_player 
		WHERE team_player_idx=#{teamPlayerIdx}
	</delete>
	
	<!-- 선수 목록에서 선수를 눌렀을 때 선수의 정보를 받아오는 쿼리문 -->
	<select id="selectTeamPlayerDetail" parameterType="java.util.HashMap" resultMap="teamPlayerVO">
		SELECT * FROM team_player 
		WHERE
			channel_play_idx = #{channelPlayIdx}
			AND team_player_idx = #{teamPlayerIdx}
	</select>
	
	<!-- 선수의 최근 5경기 기록 가져오는 query -->
	<!-- 테스트 해봐야 함 + 되면 service쪽에서 합연산 해줘야 함 -->
	<select id="selectTeamPlayerCurrentResult" parameterType="com.soccer.web.channel.play.vo.TeamPlayerVO" resultMap="playresultVO">
		SELECT * FROM playresult 
		INNER JOIN (
					<!-- 해당 유저가 등록된 선수번호화 그 선수번호로 뛰었던 경기 번호 추출 -->
					SELECT team_player_idx, channel_play_idx FROM team_player
					WHERE user_idx = (
						               <!-- 유저 번호 추출 -->
										SELECT user_idx FROM team_player
										WHERE team_player_idx = #{teamPlayerIdx}
						               		AND channel_play_idx = #{channelPlayIdx}
			            				) 
					) AS playInfo 
					ON (
						playresult.team_player_idx = playInfo.team_player_idx
							AND playresult.channel_play_idx = playInfo.channel_play_idx
						)
		ORDER BY playresult.playresult_idx DESC
		LIMIT 5
	</select>
	
	
	
	<!-- 한 경기의 선수에 결과기록 수정 -->
	<update id="updatePlayerPlayresult" parameterType="com.soccer.web.channel.play.vo.PlayresultVO">
		UPDATE playresult 
		SET 
			playresult_totaltackle = #{playresultTotaltackle},
			playresult_successtackle = #{playresultSuccesstackle},
			playresult_totalcross = #{playresultTotalcross},
			playresult_successcross = #{playresultSuccesscross},
			playresult_totalcornerkick = #{playresultTotalcornerkick},
			playresult_successcornerkick = #{playresultSuccesscornerkick},
			playresult_totalfreekick = #{playresultTotalfreekick},
			playresult_successfreekick = #{playresultSuccessfreekick},
			playresult_totalshooting = #{playresultTotalshooting},
			playresult_successshooting = #{playresultSuccessshooting},
			playresult_totalassist = #{playresultTotalassist},
			playresult_successassist = #{playresultSuccessassist},
			playresult_totalpass = #{playresultTotalpass},
			playresult_successpass = #{playresultSuccesspass},
			playresult_totalcontention = #{playresultTotalcontention},
			playresult_successcontention = #{playresultSuccesscontention}
		WHERE playresult_idx = #{playresultIdx}
	</update>
	
	<!-- 선수의 포지션과 포메이션 위치를 수정하는 쿼리문 -->
	<update id="updateTeamPlayerFormation" parameterType="com.soccer.web.channel.play.vo.TeamPlayerVO">
		UPDATE team_player
		SET 
			team_player_position = #{teamPlayerPosition},
			team_player_formation_number = #{teamPlayerFormationNumber} 
		WHERE team_player_idx = #{teamPlayerIdx}
	</update>
	
	<!-- 채널의 member를 눌렀을 때 --> <!-- member쪽에서 쓰는게 더 좋을듯 -->
	
<!-- 	<insert id="insertPlayerList" parameterType="List"> -->
<!-- 		<foreach item="item" collection="list"> -->
<!-- 			INSERT INTO team_player -->
<!-- 			VALUES( -->
<!-- 				default, -->
<!-- 				#{item.userIdx}, -->
<!-- 				#{item.teamIdx}, -->
<!-- 				#{item.channelPlayIdx}, -->
<!-- 				null, -->
<!-- 				null, -->
<!-- 				<if test="teamPlayerName != null"> -->
<!-- 					#{item.teamPlayerName} -->
<!-- 				</if> -->
<!-- 				<if test="teamPlayerName == null"> -->
<!-- 					null -->
<!-- 				</if> -->
<!-- 			) -->
<!-- 		</foreach> -->
<!-- 	</insert> -->
	
	<select id="playerIndexList" parameterType="com.soccer.web.channel.play.vo.TeamVO" resultType="integer">
		SELECT team_player_idx FROM team_player
		WHERE team_idx = #{teamIdx}
			AND channel_play_idx = #{channelPlayIdx}
	</select>
	
	<insert id="tempPlayresult" parameterType="list">
		<foreach item="item" collection="list">
			INSERT INTO playresult
			VALUES(
					default,
					#{item.channelPlayIdx},
					#{item.teamIdx},
					#{item.teamPlayerIdx},
					default,
					default,
					default,
					default,
					default,
					default,
					default,
					default,
					default,
					default,
					default,
					default,
					default,
					default,
					default,
					default,
			)
		</foreach>
	</insert>
	
	<update id="resultUpdate" parameterType="list">
		<foreach item="item" collection="list" open="" close="" separator=";">
			UPDATE playresult
				SET playresult_totaltackle = #{item.playresultTotaltackle},
					playresult_successtackle = #{item.playresultSuccesstackle},
					playresult_totalcross = #{item.playresultTotalcross},
					playresult_successcross = #{item.playresultSuccesscross},
					playresult_totalcornerkick = #{item.playresultTotalcornerkick},
					playresult_successcornerkick = #{item.playresultSuccesscornerkick},
					playresult_totalfreekick = #{item.playresultTotalfreekick},
					playresult_successfreekick = #{item.playresultSuccessfreekick},
					playresult_totalshooting = #{item.playresultTotalshooting},
					playresult_successshooting = #{item.playresultSuccessshooting},
					playresult_totalassist = #{item.playresultTotalassist},
					playresult_successassist = #{item.playresultSuccessassist},
					playresult_totalpass = #{item.playresultTotalpass},
					playresult_successpass = #{item.playresultSuccesspass},
					playresult_totalcontention = #{item.playresultTotalcontention},
					playresult_successcontention = #{item.playresultSuccesscontention}
			WHERE playresult_idx = #{item.playresultIdx}
		</foreach>
	</update>
	
	<select id="selectPlayerresultVODetail" parameterType="int" resultMap="playresultVO">
		SELECT * FROM playresult 
		WHERE team_player_idx = #{teamPlayeridx}
	</select>
	
	<select id="resultList" parameterType="integer" resultMap="playresultVO">
		SELECT
			playresult.playresult_idx,
			playresult.playresult_totaltackle,
			playresult.playresult_successtackle,
			playresult.playresult_totalcross,
			playresult.playresult_successcross,
			playresult.playresult_totalcornerkick,
			playresult.playresult_successcornerkick,
			playresult.playresult_totalfreekick,
			playresult.playresult_successfreekick,
			playresult.playresult_totalshooting,
			playresult.playresult_successshooting,
			playresult.playresult_totalassist,
			playresult.playresult_successassist,
			playresult.playresult_totalpass,
			playresult.playresult_successpass,
			playresult.playresult_totalcontention,
			playresult.playresult_successcontention,
			team.team_name,
			team.team_type,
			team_player.team_player_name
		FROM playresult
		INNER JOIN team
			ON playresult.channel_play_idx = team.channel_play_idx
				AND playresult.team_idx = team.team_idx
		INNER JOIN team_player
			ON team.team_idx = team_player.team_idx 
				AND team.channel_play_idx = team_player.channel_play_idx
				AND playresult.team_player_idx = team_player.team_player_idx
		WHERE playresult.channel_play_idx = #{playIdx}
	</select>
	<select id="insertTeamPlayers" parameterType="java.util.HashMap">
		INSERT INTO team_player 
		VALUES 
				(
					default, 
					CONVERT(#{userIdx}, UNSIGNED INTEGER), <!-- userIdx 정보 받아와야함 -->
					CONVERT(#{teamIdx}, UNSIGNED INTEGER), <!-- teamIdx 정보 받아와야함 -->
					CONVERT(#{channelPlayIdx}, UNSIGNED INTEGER), 
					<!-- #{teamPlayerPosition} -->
					null, 
					null, 
					#{teamPlayerName}
				)
	</select>	
</mapper>