<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soccer.web.user.dao.UserMapper">
	
	<resultMap id="user" type="com.soccer.web.user.vo.UserVO">
		<result property="userIdx" column="user_idx" />
		<result property="userId" column="user_id" />
		<result property="userPassword" column="user_password" />
		<result property="regionIdx" column="region_idx" />
		<result property="userMobile" column="user_mobile" />
		<result property="userName" column="user_name" />
		<result property="userNick" column="user_nick" />
	</resultMap>
	
	<insert id="userJoin" parameterType="com.soccer.web.user.vo.UserVO">
		INSERT INTO user 
			VALUES (
				default, 
				#{userId}, 
				#{userPassword},
				#{regionIdx},
				#{userMobile},
				#{userName},
				#{userNick}
			)
	</insert>
	
	<select id="userLogin" parameterType="com.soccer.web.user.vo.UserVO" resultMap="user">
		SELECT * FROM user 
		WHERE user_id = #{userId} 
			AND user_password = #{userPassword} 
	</select>
	
	<select id="userInfo" parameterType="Integer" resultMap="user">
		SELECT * FROM user 
		WHERE user_idx = #{userIdx} 
	</select>
	
	<update id="userInfoUpdate" parameterType="com.soccer.web.user.vo.UserVO">
		UPDATE user
		SET user_id = #{userId},
			user_password = #{userPassword},
			region_idx = #{regionIdx},
			user_mobile = #{userMobile},
			user_name = #{userName},
			user_nick = #{userNick}
		WHERE user_idx = #{userIdx}
	</update>
</mapper>