<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/sign.css}">
    <title>축구 플랫폼</title>
</head>
<body>
    <section id="full">
        <div class="container">
            <header>
                <div class="row">
                    <div class="lefrarrow"></div>
                </div>
            </header>
            <div id="sign">
                <div class="row">
                    <div class="sign_up_comple">
                        <div  class="comple_mark"></div>
                        <h1><strong>회원가입</strong>이</h1>
                        <h1><strong>완료</strong>되었습니다.</h1>
                    </div>  
                    <button class="main_btn btn_yellow">홈으로 돌아가기</button>
                </div>
            </div>

            <div id="footer">
                <div class="footer_line"></div>
                <div class="row">
                    <h1>사업자등록증 : </h1>
                    <h1>대표이름 : </h1>
                    <h1>전화번호 : </h1>
                </div>
            </div>
        </div>
    </section>
    <script th:inline="javascript">
    	const singUpComple = {
    		singUpCompleView: {
    			init: () => {
    				//뒤로가기 버튼 이벤트
    				const leftArrow = document.getElementsByClassName('lefrarrow')[0];
    				leftArrow.addEventListener('click', () => singUpComple.singUpCompleEvnet.movePage('/'));
    				
    				//홈 버튼 이벤트
    				const mainBtn = document.getElementsByClassName('main_btn')[0];
    				mainBtn.addEventListener('click', () => singUpComple.singUpCompleEvnet.movePage('/'));
    			},	
    		},
    		
    		singUpCompleEvnet: {
    			//페이지 이동
    			movePage : (loc) => {
                    location.href=loc;
                },
    		},
    	};
    	
    	singUpComple.singUpCompleView.init();
    </script>
</body>
</html>