<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/channel_formation.css">
<title>축구 플랫폼</title>
</head>
<body>
	<section id="full">
		<div class="container">
			<header>
				<div class="row">
					<div class="lefrarrow"></div>
					<a href=""><div class="my">MY</div></a>
				</div>
			</header>
			<!-- 경기기록 -->
			<div id="game_record2">
				<div class="row">
					<div class="subtitle_line">
						<h1 class="subtitle">경기기록</h1>
						<a th:href="|@{/channel/play/team/result/}${channelPlayIdx}|">팀성적
							<div class="right_arrow"></div>
						</a>
					</div>
				</div>
				<div class="game_record2">
					<div class="game_record2_logo logo1">
						<!-- <div class="game_record2_logo logo1" th:object="${homeTeam.channelImage}"> -->
						<!-- 이미지 경로 확인해야 함 -->
						<div class="game_record2_name">
							<h1 th:text="${homeTeam.teamName}">FC바로셀로나</h1>
							<h2 th:text="${homeTeam.regionName}">대전 유성구</h2>
						</div>
					</div>
					<input type="checkbox" id="switch1" name="switch1" class="input__on-off"> <label for="switch1" class="label__on-off"> <span
						class="marble"></span> <span class="on"></span> <span class="off"></span>
					</label>
					<div class="game_record2_logo logo1">
						<!-- <div class="game_record2_logo logo4" th:object="${awayTeam.channelImage}"> -->
						<!-- 이미지 경로 확인해야 함 -->
						<div class="game_record2_name">
							<h1 th:text="${awayTeam.teamName}">리버풀FC</h1>
							<h2 th:text="${awayTeam.regionName}">대전 유성구</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- 포메이션 -->
			<div id="formation">
				<div class="row" id="home_team">
					<div class="subtitle_line">
						<h1 class="subtitle">포메이션</h1>
						<a th:href="|@{/channel/play/formation/}${channelIdx}/${channelPlayIdx}/H|">변경
							<div class="right_arrow"></div>
						</a>
					</div>
					<div class="ground">
						<div class="bg">
							<div class="player">
								<div class="lin1" th:object="${homeGoalkeeperVO}">
									<div>
										<div class="player1 player_selected"></div>
										<!-- 이미지 부분 -->
										<h1 th:text="*{teamPlayerName}">홍길동</h1>
									</div>
								</div>
								<div class="lin2">
									<div th:each="defender : ${homeDefenderVOList}">
										<div class="player1 player_selected"></div>
										<!-- 이미지 부분 -->
										<h1 th:text="${defender.teamPlayerName}">홍길동</h1>
									</div>
									<!-- <div>
										<div class="player2 player_selected"></div>
										<h1>홍길동</h1>
									</div>
									<div>
										<div class="player3 player_selected"></div>
										<h1>홍길동</h1>
									</div>
									<div>
										<div class="player4 player_selected"></div>
										<h1>홍길동</h1>
									</div> -->
								</div>
								<div class="lin3">
									<div th:each="midfilder : ${homeMidfilderVOList}">
										<div class="player5 player_selected"></div>
										<!-- 이미지 부분 -->
										<h1 th:text="${midfilder.teamPlayerName}">홍길동</h1>
									</div>
									<!-- <div>
										<div class="player6 player_selected"></div>
										<h1>홍길동</h1>
									</div>
									<div>
										<div class="player7 player_selected"></div>
										<h1>홍길동</h1>
									</div>
									<div>
										<div class="player1 player_selected"></div>
										<h1>홍길동</h1>
									</div> -->
								</div>
								<div class="lin4">
									<div th:each="forward : ${homeForwardVOList}">
										<div class="player1 player_selected"></div>
										<!-- 이미지 부분 -->
										<h1 th:text="${forward.teamPlayerName}">홍길동</h1>
									</div>
									<!-- <div>
										<div class="player1 player_selected"></div>
										<h1 th:text="${forward.teamPlayerName}">홍길동</h1>
									</div> -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" id="away_team" style="display:none;">
					<div class="subtitle_line">
						<h1 class="subtitle">포메이션</h1>
						<a th:href="|@{/channel/play/formation/}${channelIdx}/${channelPlayIdx}/A|">변경
							<div class="right_arrow"></div>
						</a>
					</div>
					<div class="ground">
						<div class="bg">
							<div class="player">
								<div class="lin1" th:object="${awayGoalkeeperVO}">
									<div>
										<div class="player1 player_selected"></div>
										<!-- 이미지 부분 -->
										<h1 th:text="*{teamPlayerName}">홍길동</h1>
									</div>
								</div>
								<div class="lin2">
									<div th:each="defender : ${awayDefenderVOList}">
										<div class="player1 player_selected"></div>
										<!-- 이미지 부분 -->
										<h1 th:text="${defender.teamPlayerName}">홍길동</h1>
									</div>
									<!-- <div>
										<div class="player2 player_selected"></div>
										<h1>홍길동</h1>
									</div>
									<div>
										<div class="player3 player_selected"></div>
										<h1>홍길동</h1>
									</div>
									<div>
										<div class="player4 player_selected"></div>
										<h1>홍길동</h1>
									</div> -->
								</div>
								<div class="lin3">
									<div th:each="midfilder : ${awayMidfilderVOList}">
										<div class="player5 player_selected"></div>
										<!-- 이미지 부분 -->
										<h1 th:text="${midfilder.teamPlayerName}">홍길동</h1>
									</div>
									<!-- <div>
										<div class="player6 player_selected"></div>
										<h1>홍길동</h1>
									</div>
									<div>
										<div class="player7 player_selected"></div>
										<h1>홍길동</h1>
									</div>
									<div>
										<div class="player1 player_selected"></div>
										<h1>홍길동</h1>
									</div> -->
								</div>
								<div class="lin4">
									<div th:each="forward : ${awayForwardVOList}">
										<div class="player1 player_selected"></div>
										<!-- 이미지 부분 -->
										<h1 th:text="${forward.teamPlayerName}">홍길동</h1>
									</div>
									<!-- <div>
										<div class="player1 player_selected"></div>
										<h1 th:text="${forward.teamPlayerName}">홍길동</h1>
									</div> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="footer">
				<div class="footer_line"></div>
				<div class="row">
					<h1>사업자등록증 :</h1>
					<h1>대표이름 :</h1>
					<h1>전화번호 :</h1>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript">
	 	let teamType = 'H';
	
		const formation = {
				formationView: {
					init: () => {
						formation.formationEvent.switchTeam();
					}
				},
				formationEvent: {
					switchTeam: () => {
						document.getElementsByClassName("label__on-off")[0].addEventListener('click', e => {
						    if (teamType == 'H'){
						        teamType = 'A';
						        document.getElementById('home_team').style.display = 'none';
						        document.getElementById('away_team').style.display = 'block';
						    } else {
						        teamType = 'H';
						        document.getElementById('home_team').style.display = 'block';
						        document.getElementById('away_team').style.display = 'none';
						    }
						});
					}
				},
		}
		
		formation.formationView.init();
	</script>
</body>
</html>