<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/channel_video_upload_index.css">
    <title>축구 플랫폼</title>
</head>
<body>
    <section id="full">
        <div class="container">
           <header>
               <div class="row">
                    <div class="lefrarrow"></div>
                    <a href=""><div class="my">MY</div></a>
               </div>
           </header>
           <!-- 업로드 신청목록 -->
           <div id="video_upload_index">
                <div class="video_index">
                    <div class="row">
                        <div class="subtitle_line">
                            <h1 class="subtitle">업로드 신청목록</h1>
                        </div>
                    </div>
                    <div class="videos">
                        <div class="video"></div>
                        <div class="video_info">
                            <div class="row">
                                <h1>FC바르셀로나 VS 리버풀FC</h1>
                                <span>2021.07.21</span><span>FC바로셀로나</span> <span>관리자</span>
                                <div class="btns">
                                    <button class="main_btn">승인</button>
                                    <button class="main_btn">거절</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="videos">
                        <div class="video"></div>
                        <div class="video_info">
                            <div class="row">
                                <h1>FC바르셀로나 VS 리버풀FC</h1>
                                <span>2021.07.21</span><span>FC바로셀로나</span> <span>관리자</span>
                                <div class="btns">
                                    <button class="main_btn">승인</button>
                                    <button class="main_btn">거절</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="videos">
                        <div class="video"></div>
                        <div class="video_info">
                            <div class="row">
                                <h1>FC바르셀로나 VS 리버풀FC</h1>
                                <span>2021.07.21</span><span>FC바로셀로나</span> <span>관리자</span>
                                <div class="btns">
                                    <button class="main_btn">승인</button>
                                    <button class="main_btn">거절</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="videos">
                        <div class="video"></div>
                        <div class="video_info">
                            <div class="row">
                                <h1>FC바르셀로나 VS 리버풀FC</h1>
                                <span>2021.07.21</span><span>FC바로셀로나</span> <span>관리자</span>
                                <div class="btns">
                                    <button class="main_btn">승인</button>
                                    <button class="main_btn">거절</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
           

           <div id="footer">
               <div class="footer_line"></div>
               <div class="row">
                   <h1>사업자등록증 : </h1>
                   <h1>대표이름 : </h1>
                   <h1>전화번호 : </h1>
               </div>
           </div>
        </div>
    </section>


</body>
</html>