<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/channel_sign_up.css}">
    <title>축구 플랫폼</title>
</head>
<body>
    <section id="full">
        <div class="container">
            <header>
                <div class="row">
                    <div class="lefrarrow"></div>
                    <a th:href="@{/user/} + ${session.loginUser.userIdx}"><div class="my">MY</div></a>
                </div>
            </header>
            <div class="logo_header">
                <div class="channel_sign_up_logo">
                    <div class="logo" th:style="'background-image:url(' + @{/mainChannelImage/?channelImage=} + ${channelVO.channelImage} + ');'"></div>
                    <h1 th:text=${channelVO.channelName}></h1>
                    <h2><span th:text=${channelVO.regionName}></span><span th:text="|(${channelVO.channelMemberCount}/${channelVO.channelMax})|"></span></h2>
                </div>
            </div>
            <div class="row">
                <div class="channel_sign_up_content">
                    <div class="channel_sign_up_profile">
                        <div class="channel_sign_up_profile_add"></div>
                    </div>
                    <form th:action="@{/channel/member/} + ${channelVO.channelIdx}" method="post" enctype="multipart/form-data">
                        <input class="main_input" type="text" name="memberNick" placeholder="닉네임을 입력해주세요" required>
                        <select class="select main_select" name="memberPosition" id="position" required>
                            <option value="" disabled selected hidden>포지션</option>
                            <option value="F">공격</option>
                            <option value="M">미드필더</option>
                            <option value="D">수비</option>
                            <option value="G">골키퍼</option>
                        </select>
                        <input type="hidden" name="userIdx" th:value="${session.loginUser.userIdx}">
                        <input type="file" name="imageFile" id="file" accept="image/*" style="display:none;">
                        <button type="submit" class="main_btn btn_yellow">가입신청하기</button>
                    </form>
                </div>
            </div>
            <div id="footer">
                <div class="footer_line"></div>
                <div class="row">
                    <h1>사업자등록증 : </h1>
                    <h1>대표이름 : </h1>
                    <h1>전화번호 : </h1>
                </div>
            </div>
        </div>
    </section>
    <script th:src="@{/js/select.js}"></script>
    <script th:inline="javascript">
    	const channelSing = {
            channelSingView: {
                init: () => {
                    //뒤로가기 버튼 이벤트
    				const leftArrow = document.getElementsByClassName('lefrarrow')[0];
    				leftArrow.addEventListener('click', () => channelSing.channelSingEvent.movePage('/main/channel?searchWord=' + [[${page.searchWord}]] + '&page=[[${page.page}]]'));
    				
    				//파일 버튼 클릭
    				const fileBtn = document.getElementsByClassName('channel_sign_up_profile_add')[0];
    				fileBtn.addEventListener('click', (e) => channelSing.channelSingEvent.inputFileOpen(e));
    				
    				//파일 미리보기
    				const inputImage = document.getElementById('file');
    				inputImage.addEventListener('change', e => channelSing.channelSingEvent.inputImageView(e));
                },
            },

    		channelSingEvent: {
                movePage : (loc) => {
                    location.href=loc;
                },
                
                inputFileOpen: (e) => {
                	e.preventDefault();
                	
                	const inputFile = document.getElementById('file');
                	inputFile.click();
                },
                
                inputImageView: (e) => {
                	const image = e.target;
                	
                	if(image.files && image.files[0]){
                		const reader = new FileReader();
                		
                		reader.onload = e => {
                			const previewImage = document.getElementsByClassName('channel_sign_up_profile')[0];
                			previewImage.style.background = 'url(' + e.target.result + ')';
                			previewImage.style.backgroundSize = '';
                			console.log(e.target.result);
                			console.log(previewImage.style);
                		}
                		
                			
                		reader.readAsDataURL(image.files[0]);
                	}
                },
    		},
    	};
		
        channelSing.channelSingView.init();
    </script>
</body>
</html>