<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/channel_create.css">
    <title>축구 플랫폼</title>
</head>
<body>
    <section id="full">
        <div class="container">
            <header>
                <div class="row">
                    <div class="lefrarrow"></div>
                    <a href=""><div class="my">MY</div></a>
                </div>
            </header>
            <div id="channel_modify">
                <div class="row">
                    <h1 class="header_center">채널생성</h1>
                    <div class="channel_sign_up_content">
                        <div class="channel_sign_up_profile">
                            <div class="channel_sign_up_profile_add"></div>
                        </div>
                        <form action="">
                            <div>
                                <span>채널이름</span>
                                <input class="main_input" type="text" placeholder="채널이름을 입력해주세요">
                            </div>
                            <div>
                                <span>최대인원</span>
                                <input class="main_input" type="text" placeholder="최대인원을 입력해주세요">
                            </div>
    
                            <button type="submit" class="main_btn btn_yellow">채널수정하기</button>
                        </form>
                        
                    </div>
                    
                </div>
            </div>
            <div id="footer">
                <div class="footer_line"></div>
                <div class="row">
                    <h1>사업자등록증 : </h1>
                    <h1>대표이름 : </h1>
                    <h1>전화번호 : </h1>
                </div>
            </div>
        </div>
    </section>
    <script src="js/select.js"></script>
</body>
</html>