<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/channel_video.css">
    <title>축구 플랫폼</title>
</head>
<body>
    <section id="full">
        <div class="container">
           <header>
               <div class="row">
                    <a th:href="@{/channel/play/}+${channelPlayVO.channelIdx}"><div class="lefrarrow"></div></a>
                    <div class="my">MY</div>
               </div>
           </header>
           <!-- 메인영상 -->
           <div id="video_index">
                <div class="video_index">
                    <div class="row">
                    </div>
                    <div class="videos">
                        <video class = "video" autoplay="autoplay" controls="controls">
                        	<source th:src="${channelPlayVO.channelPlayVideo}" type="video/mp4">
                        </video>
                       	<div class="video_name">
                            <div class="row">
                                <h1 th:text="${channelPlayVO.channelPlayTitle}">FC바르셀로나 VS 리버풀FC</h1>
                                <span th:text="${channelPlayVO.channelPlayDate}">2021.07.21</span>
                                <span th:text="${channelPlayVO.memberNick}">관리자</span>
                         </div>
                        </div>
                    </div>
                    
                </div>
           </div>
           <!-- 선수목록 -->
           <div id="player_index">
            <div class="row">
                 <div class="subtitle_line">
                 	<div id="test1"></div>
                     <h1 class="subtitle">선수목록</h1>
                     <a th:href="|@{/channel/play/formation/}${channelPlayVO.channelIdx}/${channelPlayVO.channelPlayIdx}">포메이션<div class="right_arrow"></div></a>
                 </div>
             </div>
             <div class="player_index_logo slide" >
             	<div th:each="player:${teamPlayerVOList}">
             		<div class="player player"><img th:src="${player.memberImage}"></div>
             	</div>
<!--                  <div> -->
<!--                      <div class="player player1"></div> -->
<!--                      <h1></h1> -->
<!--                  </div> -->
<!--                  <div> -->
<!--                      <div class="player player2"></div> -->
<!--                      <h1></h1> -->
<!--                  </div> -->
<!--                  <div> -->
<!--                      <div class="player player3"></div> -->
<!--                      <h1></h1> -->
<!--                  </div> -->
<!--                  <div> -->
<!--                      <div class="player player4"></div> -->
<!--                      <h1></h1> -->
<!--                  </div> -->
<!--                  <div> -->
<!--                      <div class="player player5"></div> -->
<!--                      <h1></h1> -->
<!--                  </div> -->
<!--                  <div> -->
<!--                     <div class="player player6"></div> -->
<!--                     <h1></h1> -->
<!--                 </div> -->
<!--                 <div> -->
<!--                     <div class="player player7"></div> -->
<!--                     <h1></h1> -->
<!--                 </div> -->
             </div>
        </div>

        <!-- 선수별 기록 -->
        <div id="game_record"></div>
        <div id="player_record">
            <div class="row">
                 <div class="subtitle_line">
                     <h1 class="subtitle">선수별기록</h1>
<!--                      	<a th:onclick = "testAjax([[${channelPlayVO.channelPlayIdx}]])">경기기록<div class="right_arrow"></div></a> -->
                     <a th:onclick ="playResultMove([[${channelPlayVO.channelPlayIdx}]])" >경기기록<div class="right_arrow"></div></a>
                 </div>
             </div>
             <div class="player_record_table">
                <div class="table slide">
                    <ul>
                        <li></li>
                        <li>득점</li>
                        <li>슈팅</li>
                        <li>어시</li>
                        <li>패스</li>
                        <li>점유</li>
                    </ul>
                    <ul th:each="playResult: ${playerResultVOList}">                    
                       <li th:text="${playResult.teamPlayerName}"></li>
                       <li th:text="${playResult.playresultSuccessshooting}"></li>
                       <li th:text="${playResult.playresultTotalshooting}"></li>
                       <li th:text="${playResult.playresultSuccessassist}"></li>
                       <li th:text="${playResult.playresultTotalpass}"></li>
                       <li th:text="${playResult.playresultTotalcontention}"></li>
                   </ul>
<!--                    <ul> -->
<!--                        <li>홍길동</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                    </ul> -->
<!--                    <ul> -->
<!--                        <li>홍길동</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                    </ul> -->
<!--                    <ul> -->
<!--                        <li>홍길동</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                    </ul> -->
<!--                    <ul> -->
<!--                        <li>홍길동</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                    </ul> -->
<!--                    <ul> -->
<!--                        <li>홍길동</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                    </ul> -->
<!--                    <ul> -->
<!--                        <li>홍길동</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                    </ul> -->
<!--                    <ul> -->
<!--                        <li>홍길동</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                    </ul> -->
<!--                    <ul> -->
<!--                        <li>홍길동</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                    </ul> -->
<!--                    <ul> -->
<!--                        <li>홍길동</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                        <li>999</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                    </ul> -->
<!--                    <ul> -->
<!--                        <li>홍길동</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                        <li>0</li> -->
<!--                    </ul> -->
                   
                </div>
               <div class="player_add">
                   +
               </div>
            </div>
        </div>
           <div id="footer">
               <div class="footer_line"></div>
               <div class="row">
                   <h1>사업자등록증 : </h1>
                   <h1>대표이름 : </h1>
                   <h1>전화번호 : </h1>
               </div>
           </div>
        </div>
    </section>
	<script src="/js/channel/channelList.js"></script>
    <script src="/js/slide.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>