<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/channel_sign_up.css">
    <title>축구 플랫폼</title>
</head>
<body>
    <section id="full">
        <div class="container">
            <header>
                <div class="row">
                    <div class="lefrarrow"></div>
                    <a href=""><div class="my">MY</div></a>
                </div>
            </header>
            <div class="logo_header">
                <div class="channel_sign_up_logo">
                    <div class="logo logo1"></div>
                    <h1>FC바로셀로나</h1>
                    <h2><span>대전 유성구</span><span>(14/30)</span></h2>
                </div>
            </div>
            <div class="row">
                <div class="channel_sign_up_content">
                    <div class="channel_sign_up_profile">
                        <div class="channel_sign_up_profile_add"></div>
                    </div>
                    <form th:action="/channel/member/{}">
                        <input class="main_input" type="text" placeholder="닉네임을 입력해주세요">
                        <select class="select main_select" name="position" id="position">
                            <option value="" disabled selected hidden>포지션</option>
                            <option value="공격">공격</option>
                            <option value="미드">미드필더</option>
                            <option value="수비">수비</option>
                        </select>
                        <button type="submit" class="main_btn btn_yellow">가입신청하기</button>
                    </form>
                    
                </div>
                
            </div>
            <div id="footer">
                <div class="footer_line"></div>
                <div class="row">
                    <h1>사업자등록증 : </h1>
                    <h1>대표이름 : </h1>
                    <h1>전화번호 : </h1>
                </div>
            </div>
        </div>
    </section>
    <script src="/js/select.js"></script>
</body>
</html>