<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/channel_writing.css">
    <title>축구 플랫폼</title>
</head>
<body>
    <section id="full">
        <div class="container">
            <header>
                <div class="row">
                    <div class="lefrarrow"></div>
                    <a href=""><div class="my">MY</div></a>
                </div>
            </header>
            <!-- 마이페이지 -->
            <div id="writing">
                <div class="row">
                    <div class="subtitle_line">
                        <h1 class="subtitle">글쓰기</h1>
                    </div> 
                    <form action="">
                        <div class="line">
                            <h1>제목</h1>
                            <input type="text" class="main_input" placeholder="제목을 입력해 주세요" required>
                        </div>
                        <textarea name="" id="" class="main_input textarea" placeholder="내용을 입력해주세요." required></textarea>
                        <button type="submit" class="main_btn btn_yellow">작성완료</button>
                    </form>
                </div> 
            </div>
            
            
            <div id="footer">
                <div class="footer_line"></div>
                <div class="row">
                    <h1>사업자등록증 : </h1>
                    <h1>대표이름 : </h1>
                    <h1>전화번호 : </h1>
                </div>
            </div>
        </div>
    </section>
</body>
</html>