<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/channal_player_manager.css">
    <title>축구 플랫폼</title>
</head>
<body>
    <section id="full">
        <div class="container">
            <header>
                <div class="row">
                    <div class="lefrarrow"></div>
                    <a href=""><div class="my">MY</div></a>
                </div>
            </header>
            <div class="logo_header">
                <div class="channel_sign_up_logo">
                    <div class="logo logo1"></div>
                    <h1>FC바로셀로나</h1>
                    <h2><span>대전 유성구</span><span>(14/30)</span></h2>
                </div>
                <div class="right_menu ">
                        <a href="#">채널수정<div class="right_arrow right_arrowb"></div></a>
                        <a href="#">영상 업로드<div class="right_arrow"></div></a>
                </div>
            </div>
            <div class="row">
                <!-- 가입신청회원 -->
                <h1 class="subtitle">가입신청 회원</h1>
                <div class="manager">
                    <div class="line">
                        <h1>홍길동</h1>
                        <div class="btns">
                            <button>승인</button>
                            <button>거절</button>
                        </div>
                    </div>
                    <div class="line">
                        <h1>홍길동</h1>
                        <div class="btns">
                            <button>승인</button>
                            <button>거절</button>
                        </div>
                    </div>
                    <div class="line">
                        <h1>홍길동</h1>
                        <div class="btns">
                            <button>승인</button>
                            <button>거절</button>
                        </div>
                    </div>
                    <div class="line">
                        <h1>홍길동</h1>
                        <div class="btns">
                            <button>승인</button>
                            <button>거절</button>
                        </div>
                    </div>
                    <div class="line">
                        <h1>홍길동</h1>
                        <div class="btns">
                            <button>승인</button>
                            <button>거절</button>
                        </div>
                    </div>
                </div>


                <!-- 기존회원 -->
                <h1 class="subtitle">기존 회원</h1>
                <div class="manager">
                    <div class="line">
                        <h1>홍길동</h1>
                        <div class="btns">
                            <button>강퇴</button>
                        </div>
                    </div>
                    <div class="line">
                        <h1>홍길동</h1>
                        <div class="btns">
                            <button>강퇴</button>
                        </div>
                    </div>
                    <div class="line">
                        <h1>홍길동</h1>
                        <div class="btns">
                            <button>강퇴</button>
                        </div>
                    </div>
                    <div class="line">
                        <h1>홍길동</h1>
                        <div class="btns">
                            <button>강퇴</button>
                        </div>
                    </div>
                    <div class="line">
                        <h1>홍길동</h1>
                        <div class="btns">
                            <button>강퇴</button>
                        </div>
                    </div>
                    <div class="line">
                        <h1>홍길동</h1>
                        <div class="btns">
                            <button>강퇴</button>
                        </div>
                    </div>
                    <div class="line">
                        <h1>홍길동</h1>
                        <div class="btns">
                            <button>강퇴</button>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div id="footer">
                <div class="footer_line"></div>
                <div class="row">
                    <h1>사업자등록증 : </h1>
                    <h1>대표이름 : </h1>
                    <h1>전화번호 : </h1>
                </div>
            </div>
        </div>
    </section>
    <script src="js/select.js"></script>
</body>
</html>