<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/information_modify.css">
    <title>축구 플랫폼</title>
</head>
<body>
    <section id="full">
        <div class="container">
            <header>
                <div class="row">
                    <div class="lefrarrow"></div>
                    <a href=""><div class="my">MY</div></a>
                </div>
            </header>
            <!-- 회원가입 -->
            <div id="information_modify">
                <div class="row">
                    <h1 class="header_center">개인정보수정</h1>
                    <form action="">
                        <div class="line">
                            <h1>이름</h1>
                            <input class="main_input" type="text" placeholder="이름을 입력해주세요." value="홍길동" required>
                        </div>
                        <div class="line">
                            <h1>닉네임</h1>
                            <input class="main_input" type="text" placeholder="닉네임을 입력해주세요." value="홍길동" required>
                        </div>
                        <div class="line">
                            <h1>이메일</h1>
                            <input class="main_input" type="text" placeholder="이메일을 입력해주세요." value="qwe1234@qweqwe.com" required>
                        </div>
                        <div class="line">
                            <h1>휴대폰</h1>
                            <input class="main_input" type="number" placeholder="휴대폰 번호를 입력해주세요." value="01012345678" required>
                        </div>
                        <div class="line">
                            <h1>활동지역</h1>
                            <select class="select main_select" name="local" form="myForm" aria-placeholder="활동지역을 선택해주세요.">
                                <option value="서울">서울</option>
                                <option selected value="대전">대전</option>
                                <option value="대구">대구</option>
                                <option value="부산">부산</option>
                            </select>
                        </div>
                        <div class="line">
                            <h1>비밀번호</h1>
                            <input class="main_input" type="password" placeholder="비밀번호를 입력해주세요." required>
                        </div>
                        <div class="line">
                            <h1></h1>
                            <input class="main_input" type="password" placeholder="비밀번호를 다시 입력해주세요." required>
                        </div>
                        <button type="submit" class="main_btn btn_yellow">개인정보수정</button>
                    </form>
                </div>
            </div>
             
            <div id="footer">
                <div class="footer_line"></div>
                <div class="row">
                    <h1>사업자등록증 : </h1>
                    <h1>대표이름 : </h1>
                    <h1>전화번호 : </h1>
                </div>
            </div>
        </div>
    </section>
</body>
</html>