@charset "utf-8";

/* 배너 */
#event {
    position: relative;
    width: 100%;
    height: 240px;
    padding-top: 50px;
    overflow: hidden;
}
.bg {
    top: 50px;
    z-index: -1;
    position: absolute;
    background: url(../img/event1.png);
    background-position: bottom;
    width: 100%;
    height: 240px;
    background-size: cover;   
}
.bg::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0, 0.4);
}
#event .row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#event h1 {
    padding-top: 24px;
    font: normal normal bold 30px/48px Noto Sans CJK KR;
    letter-spacing: -0.75px;
}
#event h2 {
    font: normal normal normal 16px/27px Noto Sans CJK KR;
    letter-spacing: -0.4px;
}
#event h3 {
    font: normal normal normal 12px/27px Noto Sans CJK KR;
    letter-spacing: -0.3px;
    padding-bottom: 24px;
}

/* 채널목록 */
#channel_index {
    padding-bottom: 20px;
}
.channel_index_logo {
    display: flex;
    overflow: hidden;

}
.channel_index_logo > div{
    width: 18.13%;
}
.channel_index_logo > div {
    margin-right: 4.26%;
}
.channel_index_logo > div:first-child{
    margin-left: 16px;
}
.channel_index_logo > div:last-child{
    margin-right: 16px;
}
.channel_index_logo > div .logo {
    width: 100%;
}
.channel_index_logo > div .logo::after{
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 100%;
}
.channel_index_logo > div h1 {
    width: 13.5vw;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 200;
}
.logo1 {
    background-size: cover;
    background-color: #fff;
    border-radius: 16px;
}

/* 광고 */
#bar {
    padding-bottom: 20px;
}

/* 공지사항 */
#notice li::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    opacity: 0.1;
    margin: 10px 0;
}
#notice li:last-child::after{
    display: none;
}
#notice h1 {
    padding-bottom: 10px;
}
#notice h2 {
    margin-right: 5px;
    max-width: calc(100% - 21px);
}
#notice h2, #notice h1 {
    font-size: 16px;
    letter-spacing: -0.4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#notice span {
    font-size: 12px;
    color: #A1A1A1;
    letter-spacing: -0.3px;
    padding-right: 5px;
}
.page {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.page > div {
    width: 28px;
    height: 28px;
}
#notice .title {
    display: flex;
    align-items: center;
}
.title .new {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background: #FFE400 0% 0% no-repeat padding-box;
    border-radius: 6px;
}
.page > .show {
    background-color: #3E3E3E;
}
.page_left {
    background: url(../img/pageleft.png);
    display: none;
}
.page_right {
    background: url(../img/pageright.png);
}
.page_numer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
}

