#video_index {
    padding-top: 50px;
    height: calc(100vh - 50px);
}
.videos {
    padding-bottom: 20px;
}
.videos:last-child {
    padding-bottom: 0;
}
.video {
    width: 100%;
    background: url(../img/video.PNG);
    background-size: cover;
}
.video::after{
    display: block;
    content: '';
    padding-bottom: 56%;
}

.video_name h1{
    padding-top: 10px;
    font-size: 16px;
    letter-spacing: -0.4px;
}
.video_name span {
    font-size: 12px;
    letter-spacing: -0.3px;
    color: #8C8C8C;
}
#footer {
    margin-top: 0;
}