


/* 포메이션 */
#formation {
    padding-top: 50px;
}

#formation .ground {
    width: 100%;
    display: flex;
    justify-content: center;
}
#formation .ground .bg {
    position: relative;
    max-width: 270px;
     background: url(../img/soccerpitch.png);
     width: 100%;
     background-size: cover;
}
#formation .ground .bg::after {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 133%;
}
.player {
    top: 3%;
    position: absolute;
    width: 100%;
    height: 73%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.player > div {
    display: flex;
    justify-content: center;
}
.player > div > div {
    position: relative;
    width: 11%;
    

    margin: 0 4%;

}
.player > div  > div > div {
    background-color: #191919;
    background-size: cover;
    border-radius: 30px;

}
.player_selected {
    border: 1px solid #FFE400;
}
.player > div  > div > div::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}
.player > div > div > h1 {
    font-size: 12px;
    width: 50px;
    top: 30px;
    text-align: center;
    transform: translateX(-10px);
}




/* 팝업 */
.popup {
    position: fixed;
    bottom: -75vh;
    width: 100%;
    max-width: 480px;
    max-height: 75vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #303030;
    border-radius: 20px 20px 0 0;
    z-index: 99;
    transition: all 0.3s;
}
.popup_up {
    bottom: 0;
}
.down-btn {
    margin-top: 10px;
    width: 33px;
    height: 24px;
   
    background: url(../img/bottomarrow2.svg);
    background-size: cover;
}
.popup_players {
    width: calc(100% - 32px);
    display: flex;
    padding: 0 16px;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: calc(80vh - 145px);
    position: relative;
}
.popup_players > div {
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.popup_players > div > div:nth-child(2){
    margin-left: 10px;
}
.popup_player {
    width: 70px;
    border-radius: 50px;
    background-size: cover;
}
.popup_player::after {
    display: block;
    content: '';
    padding-bottom: 100%;
    width: 100%;
}