
#channel_modify {
    padding-top: 50px;
}
.channel_sign_up_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.channel_sign_up_profile {
    width: 105px;
    height: 105px;
    position: relative;
    background: url(../img/soccerteam.png);
    background-size: cover;
    margin-bottom: 36px;
}
.channel_sign_up_profile_add {
    width: 36px;
    height: 36px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-size: cover;
    background: url(../img/photo.png);
}
.main_btn {
    margin-top: 60px;
}
.container > .row {
    height: auto;
}
.main_input {
    background-color: #191919;
    border-radius: 0;
    text-align: center;
    margin-bottom: 0;
    width: calc(100% - 120px);
}

form {
    width: 100%;
}
form > div {
    border-top: 1px solid #303030;
    display: flex;
    flex-direction: row;
    align-items: center;
}
form > div span {
    font-size: 12px;
    letter-spacing: -0.3px;
    color: #8C8C8C;
    width: 50px;
    display: block;
}
form > div:nth-last-child(2) {
    margin-bottom: 170px;
}
.header_center {
    margin-bottom: 70px;
}
